.user-activity-buttons {
    display: flex;
}
.user-activity-buttons > * {
    margin-right: 20px;
    position: relative;
}
.cart-button {
    position: relative;
}
.cryptoki-notif-bttn {
    position: relative;
}
.user-activity-buttons button .counter {
    position: absolute;
    top: -18px;
    right: -12px;
    font-size: 9px;
    line-height: 2;
    width: 18px;
    height: 18px;
    background-color: var(--secondary-accent-color);
    color: var(--contrast-text-color);
    border-radius: 50%;
}
