.FilterForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filterable-bar {
    padding: 22px 30px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    margin-bottom: 30px;
    background-color: var(--component-background);
}
.nice-select.open .nice-select-dropdown {
    border-radius: var(--input-border-radius);
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}
.flex-right {
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 320px) {
    .filterable-bar {
        padding: 20px;
    }
}
@media(max-width: 1024px) {

    .FilterForm {
        justify-content: flex-start;
    }

    .FilterForm .filter-item {
        margin-bottom: 10px;
    }
}
