.mobile-nav-panel.open {
    transform: translateX(0);
}
.mobile-nav-panel {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: var(--component-background);
    min-width: 240px;
    height: 100vh;
    z-index: 100;
    overflow: auto;
    transition: transform .3s ease-in;
}
.topbar-wrapper > * {
    margin-right: 10px;
}
.mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.mobile-menu-logo img {
    width: 40px;
    height: 40px;
}
.mobile-nav-panel.open .mobile-nav-header .close-icon {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s linear 0.3s;
    cursor: pointer;
}
.mobile-nav-header .close-icon {
    visibility: hidden;
    opacity: 0;
    width: 14px;
    height: 14px;
    transform: scale(0);
    transition: transform 0.3s linear 0.3s;
}

.mobile-menu {
    background: var(--component-background);
    position: relative;
    z-index: 10;
}
.mobile-menu .menu-item .menu-link {
    line-height: 1.4;
    padding: 8px 20px;
}
.menu-item .menu-link {
    display: block;
    font-size: var(--body-font-size);
    font-weight: var(--heading-font-weight);
    line-height: 1;
}
.mobile-menu {
    background: var(--component-background);
    position: relative;
    z-index: 10;
}
.mobile-menu .menu-item-has-children > ul.submenu {
    padding-left: 10px;
}
.mobile-menu .menu-item-has-children > .submenu, .mobile-menu .menu-item-has-children > .megamenu {
    width: 100%;
    background-color: var(--component-background);
    position: relative;
    max-height: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s linear, max-height 0.3s linear 0.1s;
    overflow: hidden;
}
@media (max-width: 1024px)
{.site-header .logo {
    flex-grow: 1;
}}