/* ================================
       22. ARTWORKS
       ================================ */

/* ================================
       22.1. Artworks
       ================================ */

       .artworks-carousel {
        margin-bottom: 30px;
    }
    
    .artwork-item {
        display: flex;
        border: 1px solid var(--border-color);
        border-radius: 25px;
    }
    
    .artwork-item > * {
        flex-basis: 50%;
    }
    
    .artwork-item .artwork-media,
    .artwork-item .artwork-media img {
        border-radius: 25px;
    }
    .artwork-item .artwork-media img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .artwork-item .artwork-details {
        padding: clamp(1rem, 3vmax, 40px) clamp(1rem, 4vmax, 60px);
    }
    .artwork-item .artwork-details .avatar-block {
        margin-bottom: 30px;
    }
    
    .artwork-item .artwork-details .product-meta-section {
        margin-bottom: 30px;
    }
    
    .artwork-item .artwork-details .product-description {
        margin-bottom: clamp(1rem, 3.2vmax, 60px);
    }
    
    .artwork-item .bidding-section .product-fav-counter {
        color: var(--contrast-text-color);
        fill: var(--contrast-text-color);
        border: transparent;
    }
    
    .artwork-item .bidding-section .product-fav-counter:hover svg {
        fill: var(--contrast-text-color);
    }
    
    @media(max-width: 1024px) {}
    .artwork-item .artwork-details {
        padding-left: clamp(1rem, 2.5vmax, 40px);
        padding-right: clamp(1rem, 2.5vmax, 40px);
    }
    
    @media (max-width: 800px) {
        .artwork-item {
            flex-direction: column;
        }
    
        .artwork-item > * {
            flex-basis: 100%;
        }
    }
    