.news-item {
    border: 1px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--component-background);
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.news-item:hover{
    transform: translateY(-10px);
}
.news-thumb {
    border-radius: 25px;
}
.news-thumb img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.news-content {
    padding: 30px;
    position: relative;
}
.news-content > * {
    margin-bottom: 20px;
}
.news-title.h5 {
    margin-bottom: 20px;
}
.news-content > div:last-child {
    margin-bottom: 0;
}
.read-more-link {
    display: inline-block;
    vertical-align: middle;
}
.read-more-link a {
    font-weight: var(--heading-font-weight);
    font-size: var(--body-font-size);
}

.read-more-link a svg {
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
}
h5, .h5 {
    font-size: var(--h5-heading);
    font-weight: var(--heading-font-weight);
    line-height: 1.5;
    letter-spacing: var(--letter-spacing);
    margin: 0 0 0.25em;
}
.news-tags {
    position: absolute;
    top: -15px;
    left: 25px;
    z-index: 10;
}
.news-tags .tag-item:last-child {
    margin-right: 0;
}
.news-tags .tag-item {
    padding: 9px 14px;
    background-color: var(--component-background);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: var(--heading-font-weight);
    cursor: pointer;
}
.news-meta > a {
    color: var(--primary-accent-color);
}
.news-item .post-format-icon ,.news-item-classic .post-format-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--cryptoki-gradient);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-format-icon svg{
    fill: white;
    width: 25px;
    height: 25px;
}
.news-mb{

    margin-bottom: 20px;
    position: relative;
    top: 0px;
    left: 0px;
}


/* ================================
     16.4. Blog Classic
    ================================ */

    .news-item-classic {
        display: flex;
        border: 1px solid var(--border-color);
        border-radius: 25px;
        margin-bottom: 20px;
    }
    
    .news-item-classic:last-child {
        margin-bottom: 0;
    }
    
    .news-item-classic .news-thumb {
        display: flex;
        border-radius:25px 0 0 25px;
        position: relative;
        flex: 0 0 45%;
    }
    
    .news-item-classic .news-thumb a:not(.post-format-icon) {
        display: flex;
    }
    
    .news-item-classic .news-thumb img {
        border-radius:25px 0 0 25px;
        object-fit: cover;
        flex: 1;
    }
    
    .news-item-classic .news-content {
        flex: 0 0 55%;
    }
    
    .news-item-classic .news-tags {
        position: relative;
        top: auto;
        left: auto;
        z-index: 1;
        margin-bottom: 20px;
    }
    
    .news-item-classic.no-thumb .news-content {
        flex-basis: 100%;
    }
    
    
    @media(max-width: 800px) {
        .blog-classic-area.grid-right-sidebar-large {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 40px;
        }
    }
    
    @media(max-width: 414px) {
        .news-item-classic {
            flex-direction: column;
        }
    
        .news-item-classic .news-thumb,
        .news-item-classic .news-thumb img {
            border-radius: 25px 25px 0 0;
        }
    }