
    .single-post-sidebar {
        display: flex;
    }
    
    .single-post-sidebar aside {
        flex: 0 1 480px;
        margin-left: clamp(1rem, 8vw, 140px);
    }

/* ================================
       16.3. Single post
       ================================ */

       .single-post.medium-section {
        width: 940px;
        max-width: 100%;
        margin: 0 auto;
    }
    .post-featured-image {
        margin-bottom: clamp(2rem, 4.5vmax, 70px);
    }
    
    
    .single-post .post-heading {
        text-align: center;
        margin-bottom: clamp(2rem, 4.5vmax, 70px);
    }
    
    .single-post .post-heading h1 {
        margin-bottom: 40px;
    }
    
    .single-post .news-meta {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .post-author a {
        color: var(--primary-accent-color);
    }
    
    .single-post .news-meta .social-icons-list {
        margin-left: 28px;
    }
    
    .single-post .news-tags {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 30px;
    }
    
    .single-post .content-heading {
        margin-bottom: 1.5em;
    }
    
    .single-post .list-block {
        display: flex;
        justify-content: flex-start;
    }
    
    .single-post .list-block > * {
        flex-basis: 50%;
    }
    
    .single-post .list-block ol {
        padding-left: 1rem;
    }
    
    @media (max-width: 414px) {
        .single-post .list-block {
            flex-wrap: wrap;
        }
    
        .single-post .list-block > * {
            flex-basis: 100%;
        }
    }
/* ================================
     16.5. Single post sidebar
    ================================ */

    
    
    
    @media(max-width: 800px) {
    
        .single-post-sidebar {
            flex-wrap: wrap;
        }
    
        .single-post-sidebar aside {
            margin-left: 0;
            margin-top: 40px;
            flex-basis: auto;
        }
    }
    
    @media(max-width: 320px) {
        .single-post-sidebar > * {
            flex-basis: 290px;
            max-width: 100%;
        }
    }
    